/* Checkbox control from checkbox.tsx */

.checkbox {
    position: relative;

    input[type="checkbox"] {
        appearance: none;
        display: inline-block;

        border: 0;
        margin: 0;
        padding: 0;

        /* Not so div... */
        cursor: pointer;
        width: 100%;
        height: 100%;
    }

    .sprite {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);

        /* don't eat clicks from the input */
        pointer-events: none;
    }
}
