/* Client-side tab control from ctabs.tsx */

/* Parent for tab button contents. Users should size this. */
.ctab {
    position: relative;
}

/* Reset WebKit radio button appearance. it's just a div bro */
.ctab input[type="radio"] {
    appearance: none;
    display: inline-block;

    border: 0;
    margin: 0;
    padding: 0;

    /* Not so div... */
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.ctab .sprite {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);

    /* don't eat clicks from the input */
    pointer-events: none;
}

.ctabs * {
    /* transitional: new code will use border-box as God intended */
    -webkit-box-sizing: border-box;
}

.ctabs {
    position: relative;
}

/* Users should extend this to position the tab content how they want (relative to .ctabs) */
.ctab-content {
    position: absolute;

    display: none;
}

.ctab.selected + .ctab-content {
    display: block;
}