@use 'sprites.css';
@use './controls/ctabs.css';
@use './controls/checkbox.css';
@use './components/ui/CtrNavTabs.scss';
@use './components/ui/CtrIcon.scss';
@use './components/ui/CtrBigButton.scss';
@use './components/ui/CtrSearchForm.scss';
@use './components/CtrPageButtons.scss';
@use './components/CtrPageHeader.scss';
@use './components/CtrCommunityList.scss';
@use './components/CtrListView.scss';
@use './components/CtrPostView.scss';
@use 'new-post-view.css';
@use 'report-post-page.css';
@use 'theme.scss' as t;

body {
    margin: 0;
    font-family: nintendo_NTLG-DB_001, sans-serif;
    width: 400px;
    background: #00f
}

#body,
body {
    overflow-x: clip;
    /* Doesn't work on CTR, but the CSS relies on it not working */
}

#body {
    background-image: url(@/images/background.png);
    background-repeat: repeat;
    padding-bottom: 28px;
    /* Toolbar location */

    -webkit-box-sizing: border-box;
    min-height: 460px;
    /* Never show the blue background! */
}

a {
    text-decoration: none
}

li,
menu,
ol,
ul {
    list-style: none
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
menu,
ol,
p,
table,
td,
th,
tr,
ul {
    font-size: 100%;
    font-weight: 400;
    margin: 0;
    padding: 0
}

.headline>h2 {
    font-size: 18px;
    padding: 0 10px
}

#body>.body-content {
    width: 322px;
    margin-left: 39px;
    min-height: 175px;
    margin-top: 10px;
}

.headline,
menu.tab-header {
    white-space: nowrap;
    width: 300px
}

.headline {
    line-height: 2;
    color: #fff;
    background: url(@/images/headline.png) 0 0 no-repeat;
    margin: 6px 10px;
    background-size: 100% !important
}

.headline.headline-green {
    background: url(@/images/headline-green.png) 0 0 no-repeat;
    border-color: #59c9a5
}

.icon-container>.icon {
    width: 64px;
    height: 64px;
    background: #e6eaf1;
    display: block;
}

menu.tab-header {
    display: inline-block;
    text-align: center;
    padding: 5px 0;
    margin-top: 30px;
    margin-left: 10px;
    border: 1px solid #5e44aa;
    background: -webkit-gradient(linear, left top, left bottom, from(#6045af), to(#634ca8)) 0 0 !important;
    border-radius: 2px
}

menu.tab-header li {
    display: inline-block;
    width: 144px;
    background: url(@/images/tab.png);
}

menu.tab-header li:first-child {
    margin-left: 7px;
    margin-right: -5px
}

menu.tab-header li:last-child {
    margin-left: 0;
    margin-right: 7px
}

menu.tab-header a {
    color: #cabbf3;
    width: 145px
}

menu.tab-header li.selected a {
    display: inline-block;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(.3, #fff), color-stop(.8, #fff5f5), color-stop(.96, #fff5f5), to(#fff5f5)) 0 0;
    color: #4d4d4d
}

menu.tab-header.user-page a,
menu.tab-header.user-page li {
    width: 97px;
    margin: -4px
}

menu.tab-header.user-page li:first-child {
    margin-left: 6px
}

menu.tab-header.user-page li.double,
menu.tab-header.user-page li.double>a {
    width: 146px
}

menu.tab-header.user-page li.double {
    margin-top: 5px
}

menu.tab-header.user-page li:last-child {
    margin-left: -5px
}

.tab-body.post-list {
    margin-top: 10px;
}

.tags-container {
    >.sprite {
        margin-right: 5px;
        position: relative;
        top: 3px;
    }

    .tags {
        display: inline-block;
        color: #a362d8;
        font-size: 10px;
        line-height: 12px;
    }
}

.community-banner {
    display: inline-block;
    width: 100%
}

.title-icon-container {
    display: inline-block;
    width: 20px;
    height: 20px
}

.title-icon {
    width: 20px;
    height: 20px
}

.inline-sprite {
    display: inline-block;
    border: 0;
}

.olv-modal-close-button,
.post-button {
    display: none
}

.to-permalink-button span {
    vertical-align: middle;
}

.to-permalink-button {
    float: right;
    margin-right: 10px;
    margin-top: 2px;
    padding-top: 10px;
}

div.button-wrapper.center {
    width: 100%;
    padding: unset;
    margin-bottom: 15px
}

.timestamp {
    color: #969696;
    white-space: nowrap;
}

menu.tab-header.no-margin {
    margin-top: 0
}

.body.message .id-name {
    margin-left: 0;
    font-size: 12px;
    font-weight: 400;
    color: #969696;
}

.body.message span {
    font-size: 10px;
    color: #646464;
}

.body.message .nick-name {
    font-size: 14px;
    color: #000;
}

.body .nick-name {
    color: #000;
}

p.settings-label {
    float: left;
    width: 275px;
}

.flex-spacer {
    display: block;
    -webkit-box-flex: 1;
}

// Bandwidth decal on error page
.lost {
    position: absolute;

    bottom: 32px;
    right: 44px;
    width: 100px;
}

.error-page {
    -webkit-box-sizing: border-box;
    padding: 0 11px;
}
