/* Fill the bottom screen */
#posts-form {
    width: 320px;
    height: 212px;
    margin: auto;
    /* Toolbar location (for development) */
    /* border-bottom: 1px solid black; */
}

#add-post-page {
    * {
        /* transitional: new code will use border-box as God intended */
        -webkit-box-sizing: border-box;
    }

    /* new post page ctab control */
    .ctabs {  
        width: 320px;
        height: 152px; /* ctab + ctab-content */
        margin: auto;
    }

    .ctab {
        width: 52px;
        height: 30px;
        display: inline-block;

        background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dfdfdf)) 0 0;
        &.selected {
            background: -webkit-gradient(linear, left top, left bottom, from(#846dbd), to(#6b3cb5)) 0 0;
        }

        border-top: 1px solid gray;
        &:first-of-type {
            border-top-left-radius: 2px;
            border-left: 1px solid gray;

            /* to align with mii icon */
            margin-left: 10px;
        }

        &:last-of-type {
            border-top-right-radius: 2px;
            border-right: 1px solid gray;
        }
    }

    /* Not actually a ctab but acts like one */
    .spoiler-checkbox {
        float: right;

        label {
            vertical-align: middle;
        }

        .checkbox {
            display: inline-block;
            width: 52px;
            height: 30px;
            vertical-align: middle;

            margin-left: 5px;
            margin-right: 10px;

            background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dfdfdf)) 0 0;
            &.selected {
                background: -webkit-gradient(linear, left top, left bottom, from(#846dbd), to(#6b3cb5)) 0 0;
            }

            border: 1px solid gray;
            border-bottom: 0;
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
        }
    }

    .ctab-content {
        top: 30px; /* match .ctab.height */
        left: 0px;
        width: 100%;
        height: 122px; /* 120px painting + 2px border */

        background: white;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
    }

    /* Other new post page stuff */
    #body-text-input {
        /* WebKit textarea */
        resize: none;
        margin: 0;
        border: 0;
        
        padding: 5px;
        width: 100%;
        height: 100%;
    }

    #shot-msg {
        padding: 5px;
    }

    #memo-img-input {
        width: 100%;
    }
}

.feeling-selector {
    width: 300px;
    margin: auto;

    padding: 10px 0 5px 0;

    > * {
        display: inline-block;
        vertical-align: middle;
    }

    .icon {
        width: 35px;
        height: 35px;

        border: 1px solid gray;
        border-radius: 2px;
        background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dfdfdf)) 0 0;
    }

    .buttons {
        height: 35px;
        width: 210px; /* 256px content box - 35px mii icon - 10px margin - 1px overlap for button*/

        border-radius: 2px;
        background: -webkit-gradient(linear, left top, left bottom, from(#846dbd), to(#6b3cb5)) 0 0;
        border: 1px solid gray;

        margin: 0;
        margin-left: 5px;
        padding: 0 5px; /* A spreadsheet was involved in calculating the padding */
        font-size: 0; /* Collapse out whitespace */

        input {
            -webkit-appearance: none;
            appearance: none;
            cursor: pointer;
            display: inline-block;

            border: 0;
            padding: 0;

            margin: 3px;
        }
    }
}
