#add-post-page {
    * {
        /* transitional: new code will use border-box as God intended */
        -webkit-box-sizing: border-box;
    }

    /* new post page ctab control: 308x156px (256px content) */
    .ctabs {
        /* put tabs on the right */
        direction: rtl;
        > * {
            /* put this back */
            direction: ltr;
        }
    
        width: 308px; /* 256px content + 52px buttons */
        margin: auto;
    }

    .ctab {
        width: 52px;
        height: 52px;

        background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dfdfdf)) 0 0;
        &.selected {
            background: -webkit-gradient(linear, left top, left bottom, from(#846dbd), to(#6b3cb5)) 0 0;
        }

        border-right: 1px solid gray;
        &:first-of-type {
            border-top-right-radius: 2px;
            border-top: 1px solid gray;
        }

        &:last-of-type {
            border-bottom-right-radius: 2px;
            border-bottom: 1px solid gray;
        }
    }

    .ctab-content {
        top: 0px;
        left: 0px;
        width: 256px;
        height: 156px;

        background: white;
        border: 1px solid black;

        border-radius: 2px 0 0 2px;
    }

    /* Other new post page stuff */
    #body-text-input {
        /* WebKit textarea */
        resize: none;
        margin: 0;
        border: 0;
        
        padding: 5px;
        width: 100%;
        height: 100%;
    }

    #shot-msg {
        padding: 5px;
    }

    #memo-img-input {
        width: 100%;
    }
}

.feeling-selector {
    width: 308px;
    margin: auto;

    padding: 5px 0;

    > * {
        display: inline-block;
        vertical-align: middle;
    }

    .icon {
        width: 35px;
        height: 35px;

        border: 1px solid gray;
        border-radius: 2px;
        background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dfdfdf)) 0 0;
    }

    .buttons {
        height: 35px;
        width: 210px; /* 256px content box - 35px mii icon - 10px margin - 1px overlap for button*/

        border-radius: 2px;
        background: -webkit-gradient(linear, left top, left bottom, from(#846dbd), to(#6b3cb5)) 0 0;
        border: 1px solid gray;

        margin: 0;
        margin-left: 5px;
        padding: 0 5px; /* A spreadsheet was involved in calculating the padding */
        font-size: 0; /* Collapse out whitespace */

        input {
            -webkit-appearance: none;
            appearance: none;
            cursor: pointer;
            display: inline-block;

            border: 0;
            padding: 0;

            margin: 3px;
        }
    }

    .checkbox.spoiler {
        margin-left: 5px;

        width: 53px; /* 1px left border overlap */
        height: 35px;

        border: 1px solid gray;
        border-radius: 2px;

        background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dfdfdf)) 0 0;
        &.selected {
            background: -webkit-gradient(linear, left top, left bottom, from(#846dbd), to(#6b3cb5)) 0 0;
        }
    }
}
