.report-form {
    * {
        /* transitional: new code will use border-box as God intended */
        -webkit-box-sizing: border-box;
    }
    -webkit-box-sizing: border-box;
    
    width: 322px;
    padding: 4px;
    font-size: 15px;
    margin: auto;

    p, .dropdown {
	    text-align: center;
        margin-bottom: 0.5em;
    }

    textarea {
        width: 100%;
        padding: 4px;
    }

    input[type="submit"] {
        display: none;
    }
}