
// Based on the scroll to top widget. Looks pretty bad on 16-bit colour...
// $root-gradient: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#d7d7d7));
$root-gradient-30px: url(@/images/gradient-30px.png);

$root-light-500: #e8e8e8;

$title-size: 18px;

$component-border: 1px solid #b9b9b9;
$component-radius: 5px;

$button-text: black;