
# exclude compiled binaries
# and build files
juxtaposition.exe
juxtaposition
build.conf.go
build/

# exclude config files in the run-configuration directory
run-configuration/*

# except for the .gitignore file itself in there
!run-configuration/.gitignore

# exclude vscode files
.vscode/
