/*

juxtaposition.scss -
the stylings for juxtaposition

*/

/* imported files */
@import "themes";
@import "mixins";
@import "utils";


/* general site stylings */
.site-container {

    background: var(--lightest);
    color: var(--darkest);

    a {

        @extend .emphasize;

        color: var(--darkest);

    }

    a:hover {

        color: var(--primary);

    }

    a:visited {

        color: var(--primary-light);

    }

}

/* organization classes */
.error-page {

    display: flex;
    padding: 50px;
    justify-content: flex-start;
    font-family: Inconsolata, "Courier New", Courier, monospace;

    .error-page-child-container {

        @include vertical-align(relative);

        display: block;
        
        h1 {

            font-size: 100px;
            color: var(--darkest);
        
        }

        p {

            font-size: 16px;
        
        }

    }

}
