@use '../theme.scss' as t;

.yeah-text {
    font-size: 14px;
    border-top: 1px solid var(--background-alt-alt);
    padding-top: 1rem;
    margin-top: 0.5rem;
}

.yeah-list {
    display: flex;
    justify-content: flex-start;

    // Make overflow items vanish! poof!
    flex-wrap: wrap;
    overflow-y: hidden;

    padding: 6px;
    height: 40px; // Height of a mii-icon

    @include t.media(">=phone", "<tablet") {
        height: 32px;
    }

    .mii-icon-container {
        margin: 0 -3px;
        transition: transform 100ms ease-in-out;

        &:hover {
            transform: translateY(-4px);
    }
    }

    .mii-icon { 
        display: block;
        outline: 3px solid var(--background-alt);

        @include t.media(">=phone", "<tablet") {
            width: 32px;
            height: 32px;
        }
    }
}