{{define "500_error"}}
<html class="justify-left site-container error-page-stylings" data-theme="standard">

<head>
    <link rel="stylesheet" href="/assets/css/juxtaposition.css">
</head>

<body class="justify-left-child-container">
    <h1>500</h1>
    <p>
    oopsie woopsie~~!<br>
    no, we aren't monkeys. i have no clue why you would be thinking that<br>
    </p><br>
    <span class="emphasize">try refreshing the page. that just might work</span>
</body>

</html>
{{end}}

{{define "404_error"}}
<html class="justify-left site-container error-page-stylings" data-theme="other-theme">

<head>
    <link rel="stylesheet" href="/assets/css/juxtaposition.css">
</head>

<body class="justify-left-child-container">
    <h1>404</h1>
    <p>
    oh my goodness...<br>
    that wasn't supposed to happen. sorry :(<br>
    </p><br>
    <a href="/" class="emphasize">back to home</a>
</body>

</html>
{{end}}

{{define "unhandled_error"}}
<html class="justify-left site-container error-page-stylings" data-theme="standard">

<head>
    <link rel="stylesheet" href="/assets/css/juxtaposition.css">
</head>

<body class="justify-left-child-container">
    <h1>{{index . "error"}}</h1>
    <p>
    blame the sysadmins<br>
    this error has no specific page<br>
    </p><br>
    <a href="/">back to home</a>
</body>

</html>
{{end}}