{{define "login"}}
<html class="site-container">

<head>
    <link rel="stylesheet" href="/assets/css/juxtaposition.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>

<h1>sign in</h1>

<div class="justify-left">

    <body class="justify-left-child-container">
        <p>
        oh my goodness...<br>
        that wasn't supposed to happen. sorry :(<br>
        </p><br>
        <a href="/" class="emphasize">back to home</a>
    </body>

</div>

</html>
{{end}}