@use "../../theme.scss" as t;

.search-form {
    text-align: center;
    margin-bottom: t.$component-gap;

    input {
        font-size: 24px;
    }

    button[type="submit"] {
        display: none;
    }
}
