.background {
	background: #fff;
	border-radius: 20px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.6);
	margin: 40px auto;
	width: 890px;
	padding: 25px 75px;
	display: none;
}
.fixed-bottom-button {
	padding: 0 !important;
	width: 185px !important;
}
.about-wrapper.background {
	min-height: 500px;
}
.about-button {
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.45);
	height: 60px;
	padding: 0 25px;
	border-radius: 12px;
	border: none;
	font-size: 20px;
	color: white;
	font-weight: bold;
	margin: 0 auto;
	display: block;
	background: -webkit-gradient(linear, left top, left bottom, from(#866dbe), to(#673DB6)) 0 0;
}
.about-header {
	font-weight: bold;
	text-align: center;
	color: #866dbe;
	font-size: 30px;
	margin: 15px 0;
}
h3 {
	font-weight: bold;
	text-align: center;
	color: #44cca1;
	font-size: 25px;
	margin: 15px 0;
}
ul.horizontal-list {
	color: white;
	background: -webkit-gradient(linear, left top, left bottom, from(#6045af), to(#634ca8)) 0 0 !important;
	display: block;
	border-radius: 50px;
	padding: 15px 15px;
}

ul.horizontal-list li {
	width: 287px;
	height: 50px;
	cursor: pointer;
	background-color: #5e44aa;
	box-shadow: inset 0 7px 10px -3px rgba(66, 45, 120, 0.75), inset 0 -3px 5px 0 rgba(128, 101, 213, 0.5);
	display: table-cell;
	text-align: center;
}

ul.horizontal-list li:first-child {
	border-radius: 50px 0 0 50px;
}

ul.horizontal-list li:last-child {
	border-radius: 0 50px 50px 0;
}

ul.horizontal-list li > a {
	text-shadow: none;
	border-radius: 50px;
	text-align: center;
	line-height: 60px;
	display: inline-block;
	width: 287px;
	height: 60px;
	color: #fff;
}
ul.horizontal-list li.selected > a {
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(0.3, #fff), color-stop(0.8, #fff5f5), color-stop(0.96, #fff5f5), to(#fff5f5)) 0 0;
	color: #4d4d4d;
}