/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.sprite-feeling-frustrated-unselected {
  background-image: url(/images/sprites.png);
  background-position: 0px 0px;
  width: 42px;
  height: 42px;
}
.sprite-feeling-happy-unselected {
  background-image: url(/images/sprites.png);
  background-position: -42px 0px;
  width: 42px;
  height: 42px;
}
.sprite-feeling-like-unselected {
  background-image: url(/images/sprites.png);
  background-position: 0px -42px;
  width: 42px;
  height: 42px;
}
.sprite-feeling-normal-unselected {
  background-image: url(/images/sprites.png);
  background-position: -42px -42px;
  width: 42px;
  height: 42px;
}
.sprite-feeling-puzzled-unselected {
  background-image: url(/images/sprites.png);
  background-position: -84px 0px;
  width: 42px;
  height: 42px;
}
.sprite-feeling-suprise-unselected {
  background-image: url(/images/sprites.png);
  background-position: -84px -42px;
  width: 42px;
  height: 42px;
}
