/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.sprite-feeling-frustrated {
  background-image: url(/images/sprites.png);
  background-position: 0px 0px;
  width: 28px;
  height: 28px;
}
.sprite-feeling-frustrated:checked {
  background-image: url(/images/sprites.png);
  background-position: -28px 0px;
  width: 28px;
  height: 28px;
}
.sprite-feeling-happy {
  background-image: url(/images/sprites.png);
  background-position: 0px -28px;
  width: 28px;
  height: 28px;
}
.sprite-feeling-happy:checked {
  background-image: url(/images/sprites.png);
  background-position: -28px -28px;
  width: 28px;
  height: 28px;
}
.sprite-feeling-like {
  background-image: url(/images/sprites.png);
  background-position: -56px 0px;
  width: 28px;
  height: 28px;
}
.sprite-feeling-like:checked {
  background-image: url(/images/sprites.png);
  background-position: -56px -28px;
  width: 28px;
  height: 28px;
}
.sprite-feeling-normal {
  background-image: url(/images/sprites.png);
  background-position: 0px -56px;
  width: 28px;
  height: 28px;
}
.sprite-feeling-normal:checked {
  background-image: url(/images/sprites.png);
  background-position: -28px -56px;
  width: 28px;
  height: 28px;
}
.sprite-feeling-puzzled {
  background-image: url(/images/sprites.png);
  background-position: -56px -56px;
  width: 28px;
  height: 28px;
}
.sprite-feeling-puzzled:checked {
  background-image: url(/images/sprites.png);
  background-position: -84px 0px;
  width: 28px;
  height: 28px;
}
.sprite-feeling-surprise {
  background-image: url(/images/sprites.png);
  background-position: -84px -28px;
  width: 28px;
  height: 28px;
}
.sprite-feeling-surprise:checked {
  background-image: url(/images/sprites.png);
  background-position: -84px -56px;
  width: 28px;
  height: 28px;
}
.sprite-reply {
  background-image: url(/images/sprites.png);
  background-position: -40px -84px;
  width: 16px;
  height: 16px;
}
.sprite-tag {
  background-image: url(/images/sprites.png);
  background-position: -72px -84px;
  width: 12px;
  height: 12px;
}
.sprite-yeah-selected {
  background-image: url(/images/sprites.png);
  background-position: 0px -84px;
  width: 20px;
  height: 19px;
}
.sprite-yeah-small {
  background-image: url(/images/sprites.png);
  background-position: -56px -84px;
  width: 16px;
  height: 16px;
}
.sprite-yeah-unselected {
  background-image: url(/images/sprites.png);
  background-position: -20px -84px;
  width: 20px;
  height: 19px;
}
