/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.sprite-feeling-frustrated {
  background-image: url(/images/sprites.png);
  background-position: 0px 0px;
  width: 28px;
  height: 28px;
}
.sprite-feeling-frustrated:checked {
  background-image: url(/images/sprites.png);
  background-position: -28px 0px;
  width: 28px;
  height: 28px;
}
.sprite-feeling-happy {
  background-image: url(/images/sprites.png);
  background-position: 0px -28px;
  width: 28px;
  height: 28px;
}
.sprite-feeling-happy:checked {
  background-image: url(/images/sprites.png);
  background-position: -28px -28px;
  width: 28px;
  height: 28px;
}
.sprite-feeling-like {
  background-image: url(/images/sprites.png);
  background-position: -56px 0px;
  width: 28px;
  height: 28px;
}
.sprite-feeling-like:checked {
  background-image: url(/images/sprites.png);
  background-position: -56px -28px;
  width: 28px;
  height: 28px;
}
.sprite-feeling-normal {
  background-image: url(/images/sprites.png);
  background-position: 0px -56px;
  width: 28px;
  height: 28px;
}
.sprite-feeling-normal:checked {
  background-image: url(/images/sprites.png);
  background-position: -28px -56px;
  width: 28px;
  height: 28px;
}
.sprite-feeling-puzzled {
  background-image: url(/images/sprites.png);
  background-position: -56px -56px;
  width: 28px;
  height: 28px;
}
.sprite-feeling-puzzled:checked {
  background-image: url(/images/sprites.png);
  background-position: -84px 0px;
  width: 28px;
  height: 28px;
}
.sprite-feeling-surprise {
  background-image: url(/images/sprites.png);
  background-position: -84px -28px;
  width: 28px;
  height: 28px;
}
.sprite-feeling-surprise:checked {
  background-image: url(/images/sprites.png);
  background-position: -84px -56px;
  width: 28px;
  height: 28px;
}
.sprite-followers {
  background-image: url(/images/sprites.png);
  background-position: -112px -72px;
  width: 19px;
  height: 14px;
}
.sprite-memo-input-dark {
  background-image: url(/images/sprites.png);
  background-position: -112px -38px;
  width: 17px;
  height: 17px;
}
.sprite-memo-input-light {
  background-image: url(/images/sprites.png);
  background-position: -112px -55px;
  width: 17px;
  height: 17px;
}
.sprite-post-count {
  background-image: url(/images/sprites.png);
  background-position: -112px -86px;
  width: 16px;
  height: 16px;
}
.sprite-reply {
  background-image: url(/images/sprites.png);
  background-position: -78px -84px;
  width: 16px;
  height: 16px;
}
.sprite-screenshot {
  background-image: url(/images/sprites.png);
  background-position: 0px -84px;
  width: 26px;
  height: 22px;
}
.sprite-tag {
  background-image: url(/images/sprites.png);
  background-position: 0px -106px;
  width: 12px;
  height: 12px;
}
.sprite-text-input-dark {
  background-image: url(/images/sprites.png);
  background-position: -26px -84px;
  width: 26px;
  height: 17px;
}
.sprite-text-input-light {
  background-image: url(/images/sprites.png);
  background-position: -52px -84px;
  width: 26px;
  height: 17px;
}
.sprite-yeah-selected {
  background-image: url(/images/sprites.png);
  background-position: -112px 0px;
  width: 20px;
  height: 19px;
}
.sprite-yeah-small {
  background-image: url(/images/sprites.png);
  background-position: -94px -84px;
  width: 16px;
  height: 16px;
}
.sprite-yeah-unselected {
  background-image: url(/images/sprites.png);
  background-position: -112px -19px;
  width: 20px;
  height: 19px;
}
