$page-gap: 10px;

.nav-tabs {
    /* 1px l-r border to give us 320px padding box (not 322px) */
    border: 0 solid transparent;
    border-width: 0 1px;

    /* Visuals */
    padding: 5px;
    margin-top: $page-gap;

    background: -webkit-gradient(linear, left top, left bottom, from(#6045af), to(#634ca8)) 0 0;
    border-radius: 2px;
}

.nav-tabs-row {
    /* Evenly size our children with Not Yet Flexbox 
     * https://www.w3.org/TR/2009/WD-css3-flexbox-20090723/ */
    display: -webkit-box;
}

.nav-tab {
    /* Similar to flex-basis: 100% flex-grow: 1. Only works if explicitly display block'd */
    display: block;
    width: 0;
    -webkit-box-flex: 1;

    /* Visuals */
    text-align: center;
    background: url(@/images/tab.png);
    color: #cabbf3;

    &.selected {
        background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(.3, #fff), color-stop(.8, #fff5f5), color-stop(.96, #fff5f5), to(#fff5f5)) 0 0;
        color: #4d4d4d;
    }
}
