<head>
    <link rel="stylesheet" type="text/css" href="/css/juxt.css">
    <script src="/js/pjax.js"></script>
    <script src="/js/debug.js"></script>
    <script src="/js/juxt.js"></script>
    <title><%= title %></title>
</head>