<head>
    <link rel="stylesheet" type="text/css" href="/css/juxt.css">

    <% if (!uaIsConsole) { /* Only serve debug JS to devs using browsers. */%>
        <script src="/js/debug.global.js"></script>
    <% } %>
    <script src="/js/juxt.global.js"></script>

    <title><%= title %></title>
</head>